<div class="feed-post">
  <p class="post-title">{{title}}</p>
  <p class="post-contents">{{contents}}</p>
  <p class="post-byline"><span class="post-user">{{user.username}}</span> | {{format_date created_at}} ({{timeSince created_at}})</p>
</div>