<article>
  <h1 style="text-align: center">Edit Post</h1>

  <div class="col container">
    <div class="row justify-content-center">
      <div class="card f-1 p-0 col-6">
        <div class="card-header">
          <a href="post/{{post.id}}">
            <h5 class="post-title">{{post.title}}</h5>
          </a>
        </div>
        <div class="card-body">
          <p class="card-text">{{post.contents}}</p>
        </div>
        <div class="post-byline">
          <span>by you on {{format_date post.created_at}} ({{timeSince post.created_at}}) |</span>
          <a href="/post/{{post.id}}#comments">{{commentCount post.comments}}</a>
        </div>
      </div>
    </div>
  </div>

  <br />

  <form class="edit-post-form col container">
    <div class="row justify-content-center">
      <div class="card m-2 f-1 p-0 col-8">
        <div class="card-header text-center">
          <label for="post-title"><h5>Edit Title</h5></label>
          <input class="form-label" type="text" id="post-title" name="post-title" value="{{post.title}}" />
        </div>
        <div class="card-body text-center">
          <label for="content" class="col-12"><h5>Edit Post Content</h5></label>
          <textarea rows="5" cols="60" class="form-textarea" id="content" name="content">{{post.contents}}</textarea>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary m-2">Save Post</button>
          <button type="button" class="btn btn-danger delete-post-btn m-2">Delete Post</button>
        </div>
      </div>
    </div>
  </form>

</article>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>