<section>
    {{>map}}
    <div class="card-group d-flex flex-wrap justify-content-md-center">
    {{#each posts as |post|}}
    <div class="card m-2 f-1" >
        <div class="card-header">
            <a href="post/{{id}}"><h5 class="post-title">{{title}}</h5></a>
            <p class="post-byline"><span class="post-user">{{user.username}}</span> | {{format_date created_at}} ({{timeSince created_at}})</p>
        </div>
        <div class="card-body">
            <p class="card-text">{{contents}}</p>
        </div>
    </div>
    {{/each}}
    </div>

</section>
