

{{>map}}


<div class="card text-center">
  <div class="card-header">
   <p class="post-title">{{post.title}}</p>
  </div>
  <div class="card-body">
    <p class="post-contents">{{post.contents}}</p>
  <p class="post-byline"><span class="post-user">{{post.user.username}}</span> | {{format_date post.created_at}} ({{timeSince post.created_at}})</p>
  
  {{#if loggedIn}}
  {{> add-comment }}
  {{/if}}
    
    {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
  </div>
  <div class="card-footer text-muted">
    <h4>{{commentCount post.comments}}</h4>
    {{> comments post.comments}}  

  </div>
</div>



<div class="feed-post">
  
  
</div>





{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}