{{>map}}
<div class="container" style="width: auto; margin-bottom: 10px;">
  <div class="card text-center">
    <div class="card-header">
      <p class="post-title">{{post.title}}</p>
    </div>
    <div class="card-body row">
      <div class="col d-flex flex-column justify-content-center">
        <p class="post-contents">{{post.contents}}</p>
        <p class="post-byline"><span class="post-user">{{post.user.username}}</span> | {{format_date post.created_at}}
          ({{timeSince post.created_at}})</p>
        <div>
          {{#if loggedIn}}
          {{#if post.bookmarks}}
          <a href="/dashboard/bookmarks">
            <button type="button" class="btn btn-primary">Already Bookmarked</button>
          </a>
          {{else}}
          <button type="button" class="btn btn-primary bookmark-btn" style="margin-bottom: 5px;">Bookmark</button>
          {{/if}}
          {{/if}}
        </div>
      </div>

      <div class="col">
        {{#if loggedIn}}
        {{> add-comment }}
        {{/if}}
      </div>


      {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
    </div>
    <div class="card-footer text-muted" id="comments">
      <h4>{{commentCount post.comments}}</h4>
      {{> comments post.comments}}
    </div>
  </div>
</div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{#unless post.bookmarks}}
<script src="/javascript/bookmark.js"></script>
{{/unless}}
{{/if}}